# Ignore all .exe files
*.exe

# Ignore all .zip files
*.zip

# Ignore all .docx (Word) files
*.docx

# Ignore all .pdf files
*.pdf

# Ignore the misc folder
misc/

# Ignore the .vscode folder in the root of the repository, but not in subdirectories
/.vscode/


# Ignore Tests/ folder
Tests/